{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white p-4">
                <h4 class="text-center">Edit Unit</h4>
                <form method="POST">
                    <input type="hidden" name="old_unit_name" value="{{ unit.unit_name }}">
                    <div class="mb-3">
                        <label class="form-label">Unit Name</label>
                        <input type="text" class="form-control" name="unit_name" value="{{ unit.unit_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Latitude</label>
                        <input type="text" class="form-control" name="latitude" value="{{ unit.latitude }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Longitude</label>
                        <input type="text" class="form-control" name="longitude" value="{{ unit.longitude }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" value="{{ unit.username }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" value="{{ unit.password }}" required>
                    </div>
                    <button type="submit" class="btn btn-success">Update Unit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
