{% extends 'base.html' %}

{% block content %}
<br>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card p-3 p-md-4 bg-dark text-white">
                <h4 class="mb-3 text-center">Location History for {{ email }}</h4>
                <div class="d-flex justify-content-center mb-3">
                    <button class="btn btn-primary btn-sm" onclick="viewAllLocations()">View All Locations</button>
                </div>
                <div id="allLocationsMap" style="height: 500px; width: 100%; display: none;" class="mb-3"></div>
                <div class="table-responsive">
                    <table class="table table-striped table-dark table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">View on Map</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if history %}
                            {% for record in history %}
                            <tr>
                                <td>{{ record.date }}</td>
                                <td>{{ record.time }}</td>
                                <td>{{ record.latitude }}</td>
                                <td>{{ record.longitude }}</td>
                                <td>
                                    <a href="https://www.google.com/maps?q={{ record.latitude }},{{ record.longitude }}"
                                        target="_blank" class="btn btn-info btn-sm">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No location history found.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}