{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h4>Employee Location</h4>
    <div id="map" style="height: 400px; width: 100%;"></div>
</div>

<script>
function initMap() {
    var location = { lat: parseFloat('{{ latitude }}'), lng: parseFloat('{{ longitude }}') };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
    });

    var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: 'Employee Location'
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
{% endblock %}
